.main_chat
  .main_chat__top{data: {group: {id: params[:group_id]}}}
    -if @group
      .main_chat__top__left
        .main_chat__top__left--group_name 
          = @group.name 
        .main_chat__top__left--member_name
          Member:
          -@group.users.each do|member|
            = member.name
      
      .main_chat__top__right
        = link_to edit_group_path(@group),class: "main_chat__top__right--btn" do
          Edit

  .main_chat__center
    .main_chat__center__chats
      -if @group
        - @messages.each do|message|
          .main_chat__center__chats__chat{data: {message: {id: message.id}}}
            .main_chat__center__chats__chat__status
              %p.main_chat__center__chats__chat__status--name 
                = message.user.name
              %p.main_chat__center__chats__chat__status--date 
                = message.created_at.strftime("%Y年%-m月%-d日 %-H時%M分")
            %p.main_chat__center__chats__chat--text 
              - if message.content.present?
                = message.content
            - if message.image.present?
              = image_tag message.image ,class: "main_chat__center__chats__chat--image"
      


  .main_chat__bottom
    -if @group
      = form_for [@group,@message], html: {class: "main_chat__bottom__form"} do |f|
        .main_chat__bottom__form__text_area
          =f.text_field :content,placeholder: "type a message", class: "main_chat__bottom__form__text_area--text"
          = f.label :image, class: "main_chat__bottom__form__text_area--image" do
            = icon('fas','image')
            =f.file_field :image, class: "main_chat__bottom__form__text_area--image--file"
        = f.submit "send", class: "main_chat__bottom__form--submit"